
<!-- <nav class="navbar navbar-expand-lg fixed-top bg-dark slide-in-top  ">
  <div class="container-fluid ">
    <div class="container-fluid ">
      <a class="navbar-brand text-white" href="#">
        <img src="https://images.vexels.com/media/users/3/143119/isolated/preview/a0f029c40978547ca50451575e1f4586-icono-de-empanada.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
        Empanadas America
      </a>
    </div>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
