
<div class="navbar">
  <ul class="nav justify-content-center mx-auto slide-in-top bg-dark  fixed-top">
    <li class="nav-item">
      <a class="nav-link link-light "  routerLink="/">Inicio</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link link-light "  href="empanadas">Empanadas</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link link-light " routerLink="empleados">Nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  link-light" routerLink="contacto">Contacto</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
